@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="h1">Wycieczki Przygodowe</h1>
</div>
<div class="row" style="margin-top: 50px;">
    <div class="card col mx-3 " >
        <h2 class="card-title">Witaj w Wycieczkach Przygodowych</h2>
        <p class="card-text">
            Wycieczki Przygodowe oferują ekscytujące doznania, które zabiorą Cię
            w serce fascynujących miejsc na całym świecie.
        </p>
    </div>
    <div class="card col mx-3">
        <h2 class="card-title">Zaprojektuj Swoją Własną Przygodę</h2>
        <p class="card-text">Możesz zaplanować swoją wymarzoną podróż, eksplorując naszą gamę wycieczek.</p>
        <p><a class="btn btn-default btn-outline-dark" href="Trips">Zobacz dostępne wycieczki &raquo;</a></p>
    </div>
    <div class="card col mx-3">
        <h2 class="card-title">Zarezerwuj Swoją Przygodę</h2>
        <p class="card-text">Możesz już teraz zarezerwować swoją przygodę i wyruszyć w niezapomnianą podróż.</p>
        <p><a class="btn btn-default btn-outline-dark" href="Trips">Zarezerwuj swoją wycieczkę &raquo;</a></p>
    </div>
</div>